body {
  background: #ecf0f1;
}

.landing-header {
  min-height: 50px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background: #2c3e50;
  color: #ffffff;
  line-height: 50px;
  font-size: 24px;
  font-family: enriqueta, sans-serif;
  .logo {
    height: 40px;
    padding-top: 0px;
    padding-left: 20px;
  }
}

.landing-main-content-img {
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  //background-image: url("../images/con-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  position: relative;
}

.landing-login-box {
  height: auto;
  background: #ecf0f1;
  margin-top: 25%;
  max-width: 350px;
  h1 {
    font-size: 2em;
    line-height: 2em;
    margin-top: 0;
    margin-bottom: 0;
  }
  padding: 10px 10px 10px 10px;
}

.landing-before-sale {
  max-width: 1400px;
  background: #ecf0f1;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  font-size: 36px;
  font-weight: bold;
  color: #e74c3c;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.landing-foot-boundingbox {
  height: auto;
  background: #ecf0f1;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.landing-benefit {
  background: #ecf0f1;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 200px;
  h2 {
    font-size: 26px;
    line-height: 34px;
    //color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    line-height: 24px;
    //color: #ffffff;
    text-align: center;
  }
}

.landing-footer {
  padding-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  text-align: center;
}

.call {
  font-size: 20px;
}

.landing-spinner {
  .chasing-dots {
  margin-left: auto;
  margin-right: auto;
  }
  .dot1, .dot2 {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
  }
}
